html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.faded {
	opacity: 0.1;
	transition: 0.3s opacity;
}

.highlight {
	opacity: 1;
}

path.link {
	fill: none;
	stroke: #666;
	stroke-width: 1.5px;
}

path.link.depends {
	stroke: #005900;
	stroke-dasharray: 5, 2;
}

path.link.needs {
	stroke: #7f3f00;
}

circle {
	fill: #ffff99;
	stroke: #191900;
	stroke-width: 1.5px;
}

circle.system {
	fill: #cce5ff;
	stroke: #003366;
}

circle.mount {
	fill: #ffe5e5;
	stroke: #660000;
}

circle.init {
	fill: #b2e8b2;
	stroke: #001900;
}

circle.selected {
	stroke: #ff6666FF !important;
	stroke-width: 3px;
	animation: selected 2s infinite alternate ease-in-out;
}

@keyframes selected {
	from {
		stroke-width: 5px;
		r: 26;
	}
	to {
		stroke-width: 1px;
		r: 30;
	}
}

text {
	font: 10px sans-serif;
	pointer-events: none;
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

rect.caption {
	fill: #CCCCCCAC;
	stroke: #666;
	stroke-width: 1px;
}

text.caption {
	font-size: 14px;
	font-weight: bold;
}

body {
	padding: 0;
}
